@use 'variaveis';

.banner {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: auto;
    margin-top: 48px;
    background: linear-gradient(320deg, rgba(0,51,255,.8) 0%, rgba(0,0,102,1) 50%);
    box-sizing: border-box;

    h2 {
        margin: 24px 18vw 30px;
    }

    span {
        margin-left: 40vw;
    }

    .btn-banner {
    background-color: variaveis.$corBotoes;
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    font-weight: 700;
    letter-spacing: 0;
    border-radius: 8px;
    padding: 13px 24px;
    cursor: pointer;

    &:hover {
        background-color: darken(variaveis.$corBotoes, 10%);
    }
    }
}