@use 'variaveis';
@use 'header';
@use 'hero';
@use 'episodes';
@use 'show__info';
@use 'banner';
@use 'footer';



@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: 400;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text ($fontSize: 16px) {
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
}

@mixin title ($fontSize: 35px) {
    @include text($fontSize);
    color: variaveis.$corTextoPrincipal;
}

.text {
    @include text;
}

.title {
    @include title;
}

.title--small {
    @include title(14px);
}

.title--big {
    @include title(18px);
}

.title--biggest {
    @include title (24px)
}

.text--small {
    @include text(14px);
}

.text--big {
    @include text(17px);
}

.text--espisodes {
    @include text(11.7px)
}

.text--footer {
    @include text(10px);
}